* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Immagini */
#lampadine {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accesa2 {
    display: block;
}

.accesa {
    display: none;
}

.spenta {
    /* display: block; */
}

.spenta2 {
    display: none;
}

#bottone {
    text-align: center;
}

/* Bottoni */
#btn {
    font-size: 20px;
    padding: 30px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.btn-color {
    background-color: paleturquoise;
}

.btn-color2 {
    background-color: yellow;
}